<html>

<head>
<link type="text/css" rel="stylesheet" href="/static/style.css" />
<script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/scripts.js"></script>
</head>

<body>

<div id="current">

<div id="quiz_question"></div>
<div id="quiz_note"></div>
<input id="quiz_answer" type="textfield" size="30" autocomplete="off" /><br/>

<div id="quiz_correction">
  <div id="quiz_right_answer"></div>
  <div id="quiz_continue">
  press enter to continue
  </div>
</div>

<div id="difficulty_queues">
  <div id="learning">learning</div>
  <div id="mastered">mastered</div>
  <div id="dq0">
  </div>
  <div id="dq1">
  </div>
  <div id="dq2">
  </div>
  <div id="dq3">
  </div>
</div>

</div>

<div id="right">

<div id="upcoming">
</div>

<div id="lessons">
</div>

</div>

<div id="quiz_right">
</div>

<div id="quiz_wrong">
</div>

<div id="error">
</div>

</body>

</html>
